#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,1,0
 PRODUCTVERSION 1,2,1,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004b0"
        BEGIN
            VALUE "FileDescription", "AutoIndent Plugin for Notepad++, a free (GNU) source code editor"
#ifdef UNICODE
            VALUE "FileVersion", "1.2.1 Unicode"
#else
            VALUE "FileVersion", "1.2.1 ANSI"
#endif
            VALUE "InternalName", "NppAutoIndent"
            VALUE "LegalCopyright", "Copyright (C) 2008"
#ifdef UNICODE
            VALUE "OriginalFilename", "NppAutoIndent.dll"
#else
            VALUE "OriginalFilename", "NppAutoIndentA.dll"
#endif
            VALUE "ProductName", "NppAutoIndent"
            VALUE "ProductVersion", "1.2.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1200
    END
END



// English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////
